.contactar {
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px;
	background-image: linear-gradient(to top left, black, rgb(86, 184, 218));


	h1 {
		padding-bottom: 20px;
		margin-bottom: 0;
		padding-left: 0;
		text-decoration: underline;
	}

}

@mixin position ($display, $posicionamiento, $padding-bottom) {
	display: $display;
	justify-content: $posicionamiento;
	padding-bottom: $padding-bottom;
}

.boton {
	@include position (flex, center, 30px)
}

@media only screen and (max-width:767px) {
	.contactar {
		width: fit-content;
		margin-left: 50px;
		margin-right: 50px;

	}
}

// 	display: flex;
// 	justify-content: center;
// 	padding-bottom: 30px;
// }